html{
    height: 100vh;
    color: yellow;
    background-color: blue;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
}

h1 {
    display: flex;
    justify-content: center;
}
img {
    margin-left: 4rem;
    margin-right: 4rem;
}

div{
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    border: 2px solid black;
    background-color: lightgray;
    width: 20%;
    animation-duration: 3s;
    animation-name: spin;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: paused

}

a:hover{
    animation-play-state: running;
}

@keyframes spin{
    0%{

    }
    50%{
        scale 2;
        transform: rotate(0);
        border-radius: 0;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 100%;
        scale: 2;
    }
}

footer{
    text-align: center;
    float: bottom;
    border: 2px solid black;
    background-color: lightgray;
    margin-right: 6rem;
    margin-left: 6rem;
    margin-top: 8rem;
    color: black;
}
@media screen and (max-width: 600px) {
    
    div{
        display: flex;
        justify-content: center;
    }

    a {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        border: 2px solid black;
        background-color: lightgray;
        width: 50%;
        animation-duration: 3s;
        animation-name: spin;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-play-state: paused
    
    }
    
    a:hover{
        animation-play-state: running;
    }
    
    @keyframes spin{
        0%{
    
        }
        50%{
            scale 2;
            transform: rotate(0);
            border-radius: 0;
        }
        100%{
            transform: rotate(360deg);
            border-radius: 100%;
            scale: 2;
        }
    }

    footer{
        text-align: center;
        float: bottom;
        border: 2px solid black;
        background-color: lightgray;
        margin-right: 6rem;
        margin-left: 6rem;
        margin-top: 8rem;
        color: black;
    }
}
